<!DOCTYPE html>
<html lang="en" class="mdl-js">
  <%= render "patrials/header.html.erb" %>
  <body>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading"> Error 404 </h1>
        <p class="lead text-muted"><%= I18n.t(:not_found) %></p>
        <img src="https://media.giphy.com/media/yGesXBuMnMSdi/giphy.gif" alt="">
      </div>
  </body>
</html>
